<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FPV-Spots-Germany</title>
    <link rel="stylesheet" href="../../../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../..style_mobile.css">
    <link rel="stylesheet" href="../../../style.css">
    <link rel="stylesheet" href="../css/klassen.css">
    <link rel="stylesheet" href="../css/buttons.css">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
</head>
<body class="d-flex flex-column min-vh-100">
    <header class="bg-main px-3">
        <a href="../../../index.html" class="no-decoration"><p class="fs-1" title="Startseite"><b>FPV-Spots-Germany</b></p></a>
    </header>

    <main class="px-3 mt-3 flex-fill d-flex flex-column">
            <p class="fs-4 mx-auto"><b>Kontaktformular</b></p> <hr>
            <form action="">
                <input class="form-control w-75 mx-auto" type="text" name="vorname" id="name" title="Name" placeholder="Name" required>
                <input class="form-control w-75 mx-auto my-1" type="text" name="vorname" id="vorname" title="Vorname" placeholder="Vorname" required>
                <input class="form-control w-75 mx-auto" type="text" name="email" id="email" title="E-Mail" placeholder="E-Mail" required>
                <input class="form-control w-75 mx-auto my-1" type="text" name="telefon" id="telefon" title="Vorname" placeholder="Telefon">
                <input class="form-control w-75 mx-auto" type="text" name="anliegen" id="anliegen" title="Anliegen" placeholder="Anliegen" required style="height: 200px">
            </form>
            <p class="mx-auto mt-2">* mit dem Absenden dieses Formulars akzeptieren Sie die Weiterverarbeitung Ihrer Daten.</p>
            <button class="btn button-33 bg-main mx-auto my-3">Absenden</button>
    </main>

    <footer class="px-3 py-1 bg-main">
        <a class="no-decoration btn" href="impressum.html" title="Impressum">Impressum</a>
        <a class="no-decoration btn" href="" title="Kontakt">Kontakt</a>
    </footer>
</body>
</html>