.button-33:hover {
  box-shadow: rgba(0, 107, 134,.35) 0 -25px 18px -14px inset,rgba(0, 107, 134,.25) 0 1px 2px,rgba(0, 107, 134,.25) 0 2px 4px,rgba(0, 107, 134,.25) 0 4px 8px,rgba(0, 107, 134,.25) 0 8px 16px,rgba(0, 107, 134,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}